@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3b3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #6a11cb, #2575fc);
    --foreground: #ffffff; 
    --dark: #3b3a3a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (max-width: 400px) {
  .facet_button {
    display: none;
  }
}

.dark {
  background: var(--dark);
}

.white {
  color: var(--foreground);
}
